<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<STYLE>
  .masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/005/635/135/large/mark-kirkpatrick-041217-007.jpg?1492618858");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;}
</STYLE>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="http://nikhilpaidipally.crabdance.com">Nikhil Paidipally</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://nikhilpaidipally.crabdance.com">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://nikhilpaidipally.crabdance.com/about/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://nikhilpaidipally.crabdance.com/blog/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
<h1 class="margin bright">About Me</h1>
<h1 class="margin"> </h1>
  <img src="https://media.licdn.com/dms/image/C5603AQE-5qO-6PLzag/profile-displayphoto-shrink_200_200/0?e=1571270400&v=beta&t=pOnI-QwHmM-Mrg6_aWaCeAPgWcXGw7ZOXx7DamHaqQM" class="img-fluid rounded-circle margin" style="display:inline" alt="Me" width="150px" height="150px">
        </div>
      </div>
    </div>
</header>

<!-- First Container -->
<div class="container-fluid">
  <div class="container-fluid text-center">
    <h3 class="margin">Who Am I?</h3>
  </div>
  <div class="container-fluid text-left">
    <p class="margin">
      I'm me, a real live human, of course!
    </p>
    <p class="margin">
      In more serious terms, I'm college student studying computer science at the University of Illinois at Urbana Champaign. I'm aiming to graduate December 2019 and become a software engineer. I'm interested and have experience in a variety of fields such as low-level systems development, distibuted systems and concurrency, statistical analysis/data science/ML/DL/AI, security, blockchain and cryptocurrency (like nearly everyone else), full-stack web and mobile development. I would eventually like to work in companies that are mainly tech-centered/focused or in quantitative finance.
    </p>
    <p class="margin">
      A bit more about my personal life: I grew up in the northwest suburbs of Chicagoland area. I'm interested in a lot of different things such as:
      <li>
        <a>Policy Development and Politics</a>
      </li>
      <li>
        <a>Philsophy</a>
      </li>
      <li>
        <a>Sociology</a>
      </li>
      <li>
        <a>History</a>
      </li>
      <li>
        <a>Economics</a>
      </li>
      <li>
        <a>Podcasts</a>
      </li>
      <li>
        <a>R&B/funk & Rap</a>
      </li>
      <li>
        <a>Age of Empires III</a>
      </li>
      <li>
        <a>FPS games</a>
      </li>
      <li>
        <a>Hiking</a>
      </li>
    </p>
  </div>
</div>

<!-- Second Container -->
<div class="container-fluid">
  <div class="container-fluid text-center">
    <h3 class="margin">What's my background (ie my resume)?</h3>
  </div>
  <div class="container-fluid text-left">
    <p class="margin">
      pls wait. html/css is harder than I thought :(
    </p>
  </div>
</div>